.blockall{
  text-align: center;
}
.titletable{
  text-align: center;
}
table{
  margin-top:20px;
  margin-left: 65px;
  width: 90%!important;
}
///////////////////title table///////////////
.self{
background-color: yellow;
}

.buy{
  background-color: blue;

}

.counter{
  background-color: gray;

}

.want{
  background-color: green;
}

.sold{
  background-color: red;
}

/////////////lines//////////////

.selfed {
  background-color: rgba(255, 255, 55, 0.5);
  }
  
  .buyed {
    background-color: rgb(27, 118, 236, 0.5);
  
  }
  
  .countered{
    background-color: rgba(177, 175, 175,0.5);
  
  }
  
  .wanted {
    background-color: rgba(28, 184, 28, 0.5);
  }
  
  .solded {
    background-color: rgba(226, 36, 36, 0.5);
  }