.links{
    background-color: red;
}

h2{
    text-align: center;
}
.farm{
    display: flex;
    margin-bottom:30px;
    flex-direction:row;
    border-radius:30px;
    position: relative;
    top:1vh;
    margin-left:100px;
}
input{
    margin-bottom:10px;
    text-align: center;
}
.s1{
    position: absolute;
    right:-10px;
    top: 45px;
}
.s2{
    position: absolute;
    right:-10px;
    top: 45px;

}
.s3{
    position: absolute;
    right:-60px;
    top: 45px;
}
.val{
    width: 23vw;
    margin-bottom:50px;
}
.titi{
    font-size: 20px;
    color:black;
    font-weight: bold;
}
.unit{
    position: absolute;
    left: 169px;
    top: 38px;
}
.unitmin{
    position: absolute;
    left: 650px;
    top: 124px;
}
.unitpour{
    position: absolute;
    left: 168px;
    top: 210px;
}
.unittime{
    position: absolute;
    right: 450px;
    top: 210px;
}
.card{
    display: none;
    position: absolute;
    top: 75px;
    right: 70px;
}

#valid{
    position: relative;
    left: 1071px;
    top: -75px;
}
.inpu{
    margin-left:10px;
}
.firstthree{
width: 10%;
margin-left: 168px;
margin-right: 350px;
}
.secondthree{
width: 10%;
}
.field{
    width: 65%;
}
#validaction{
    height: 52px;
    margin-top: 18px;
}