#theapplinego{
    display: none;
}

#negodevis{
border:1px solid blue;
margin-top:20px;
display: flex;
flex-direction: column;
justify-content: center;

}

.numbtour{
    background-color: grey;
    color: white;
    border-radius: 90px;
    padding: 5px;
    font-size: 30px;
    margin: 10px;
    width: 60px;
    text-align: center;
}

///////global///////////
.titstart{
    padding: 5px;
    color: white;
    margin: 10px;
    font-size: 30px;
    border-radius: 5px;
}
.self{
background-color: orange;
}

.buy{
    background-color: blue;
}

.want{
    background-color: green;
}

.exp{
    background-color: red;
}
.titab{
    font-weight: bold;
}
/////////validation//////////
#valprop{
    display: flex;
    flex-direction: row;
}
.propok{
    margin-top: 20px;
    margin-bottom: 20px;
}
.newprop{
    width: 300px;
    margin-right: 50px;
}
#thenego{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.accept, .refus{
    margin-left: 38px;
    height: 50px;
    margin-top: 19px;
}
#exitandtour{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin-left: 68vw;
}

#exyt{
    font-size: 30px;
    padding:10px;
    border-radius: 10px;
    margin-right:10px;
}
#yesorno{
    display: initial;
}
#navappli{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.allLi{
display: flex;
justify-content: space-around;
flex-direction: row;
}