#theapplinego{
    display: none;
}

#negodevis{
border:1px solid blue;
margin-top:20px;
display: flex;
flex-direction: column;
justify-content: center;

}

/////////validation//////////
#valprop{
    display: flex;
    flex-direction: row;
}
.propok{
    margin-top: 20px;
    margin-bottom: 20px;
}
.newprop{
    width: 300px;
    margin-right: 50px;
    position: relative;
    bottom: -24px;

}
#thenego{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.accept, .refus{
    margin-left: 38px;
    height: 50px;
    margin-top: 19px;
}
#exitandtour{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin-left: 68vw;
}

#exyt{
    font-size: 30px;
    padding:10px;
    border-radius: 10px;
    margin-right:10px;
}
#yesorno{
    display: none;
}
#navappli{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}

