.links {
  background-color: red;
}

h2 {
  text-align: center;
}

.farm {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  border-radius: 30px;
  position: relative;
  top: 1vh;
  margin-left: 100px;
}

input {
  margin-bottom: 10px;
  text-align: center;
}

.s1 {
  position: absolute;
  right: -10px;
  top: 45px;
}

.s2 {
  position: absolute;
  right: -10px;
  top: 45px;
}

.s3 {
  position: absolute;
  right: -60px;
  top: 45px;
}

.val {
  width: 23vw;
  margin-bottom: 50px;
}

.titi {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.unit {
  position: absolute;
  left: 169px;
  top: 38px;
}

.unitmin {
  position: absolute;
  left: 650px;
  top: 124px;
}

.unitpour {
  position: absolute;
  left: 168px;
  top: 210px;
}

.card {
  display: none;
  position: absolute;
  top: 75px;
  right: 70px;
}

#valid {
  position: relative;
  left: 1071px;
  top: -75px;
}

.inpu {
  margin-left: 10px;
}

.firstthree {
  width: 10%;
  margin-left: 168px;
  margin-right: 350px;
}

.secondthree {
  width: 10%;
}

.field {
  width: 65%;
}

#validaction {
  height: 52px;
  margin-top: 18px;
  position: relative;
  bottom: 0px;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

a {
  margin-left: 20px;
}

h2 {
  margin-bottom: 20px;
}

.cardinput {
  width: 30vw;
}

#containerparam {
  display: none;
  z-index: 1;
  position: absolute;
  top: 200px;
  right: 15px;
  background-color: white;
}

#ixi {
  position: absolute;
  right: 500px;
  top: 1px;
}

#open {
  position: relative;
  top: 1px;
  left: 14px;
  font-size: 30px;
}

h1 {
  text-decoration: underline;
}

.applic {
  margin-left: 15px;
}

#paratime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tourcontent {
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

#well {
  position: absolute;
  top: 349px;
  left: 10px;
  background-color: rgba(107, 98, 98, 0.8);
  text-align: center;
  padding: 15px;
}

#bvn {
  font-size: 50px;
  color: whitesmoke;
}

.titbvn {
  color: black;
  text-decoration: none;
  font-size: 80px;
  font-weight: bold;
}

#divini {
  padding: 10px;
  color: white;
  background-color: black;
  position: absolute;
  top: 294px;
  left: 66px;
  font-size: 30px;
  display: none;
}

#theapplinego {
  display: none;
}

#negodevis {
  border: 1px solid blue;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#valprop {
  display: flex;
  flex-direction: row;
}

.propok {
  margin-top: 20px;
  margin-bottom: 20px;
}

.newprop {
  width: 300px;
  margin-right: 50px;
  position: relative;
  bottom: -24px;
}

#thenego {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.accept,
.refus {
  margin-left: 38px;
  height: 50px;
  margin-top: 19px;
}

#exitandtour {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin-left: 68vw;
}

#exyt {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

#yesorno {
  display: initial;
}

#navappli {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
}

#container {
  border: 1px solid #333;
  border-radius: 100px;
  width: 137px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  background: gray;
}

#timer {
  color: white;
  font-size: 30px;
  margin: 37px auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#time {
  margin-top: 5px;
  z-index: 1;
  position: relative;
}

#filler {
  background: red;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}

#pomodoro-app {
  width: 285px;
  position: absolute;
  top: 245px;
  right: 508px;
}

.blockall {
  text-align: center;
}

.titletable {
  text-align: center;
}

table {
  margin-top: 20px;
  margin-left: 65px;
  width: 90% !important;
}

.self {
  background-color: yellow;
}

.buy {
  background-color: blue;
}

.counter {
  background-color: gray;
}

.want {
  background-color: green;
}

.sold {
  background-color: red;
}

.selfed {
  background-color: rgba(255, 255, 55, 0.5);
}

.buyed {
  background-color: rgba(27, 118, 236, 0.5);
}

.countered {
  background-color: rgba(177, 175, 175, 0.5);
}

.wanted {
  background-color: rgba(28, 184, 28, 0.5);
}

.solded {
  background-color: rgba(226, 36, 36, 0.5);
}

