.links {
  background-color: red;
}

h2 {
  text-align: center;
}

.farm {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  border-radius: 30px;
  position: relative;
  top: 1vh;
  margin-left: 100px;
  background-color: black;
}

input {
  margin-bottom: 10px;
  text-align: center;
}

.s1 {
  position: absolute;
  right: -10px;
  top: 45px;
}

.s2 {
  position: absolute;
  right: -10px;
  top: 45px;
}

.s3 {
  position: absolute;
  right: -60px;
  top: 45px;
}

.val {
  width: 23vw;
  margin-bottom: 50px;
}

.titi {
  font-size: 20px;
  color: #fdfdfd;
  font-weight: bold;
}

.unit {
  position: absolute;
  left: 169px;
  top: 38px;
}

.unitmin {
  position: absolute;
  left: 650px;
  top: 124px;
}

.unitpour {
  position: absolute;
  left: 160px;
  top: 210px;
}

.unittime {
  position: absolute;
  right: 450px;
  top: 210px;
}

.card {
  display: none;
  position: absolute;
  top: 70px;
  right: 70px;
}

#valid {
  position: relative;
  left: 1071px;
  top: -75px;
}

.inpu {
  margin-left: 10px;
}

.firstthree {
  width: 10%;
  margin-left: 168px;
  margin-right: 350px;
}

.secondthree {
  width: 10%;
}

.field {
  width: 65%;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

a {
  margin-left: 20px;
}

h2 {
  margin-bottom: 20px;
}

.cardinput {
  width: 30vw;
}

#containerparam {
  display: none;
  z-index: 1;
  position: absolute;
  top: 200px;
  right: 15px;
  background-color: white;
}

#ixi {
  position: absolute;
  right: 500px;
  top: 1px;
}

#open {
  position: absolute;
  top: 130px;
  right: 1px;
}

